.deadline-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.deadline-label {
    width: 70%;
}

.board-dropdown {
    width: 90%;
    margin: 0px 10px;
}

.no-of-participants-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 0px;
}

.participant-change-container {
    display: flex;
    justify-content: end;
}

.txt-participant-change {
    width: 30%;
}

.option-container {
    display: flex;
    margin: 10px 0px;
}

.txt-poll-title-container {
    display: flex;
    justify-content: space-between;
}
.txt-poll-title {
    width: 100%;
}