.deadline-container {
    display: flex;
    flex-direction: row;
}

.deadline-label {
    width: 40%;
}

.board-dropdown {
    width: 90%;
    margin: 0px 10px;
}

.no-of-participants-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 0px;
}