.deadline-container {
    display: flex;
    flex-direction: row;
}

.deadline-label {
    width: 70%;
}

.board-dropdown {
    width: 90%;
    margin: 0px 10px;
}

.no-of-participants-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px;
}

.participants-raffle-inc-dec {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 0px;
}

.txt-participant-raffle {
    width: 45px;
    text-align: center;
    padding: 0px !important;
    margin: 0px 3px;
}

.time-picker {
    width: auto;
    height: 29px;
    margin: 0px 10px;
    cursor: pointer;
}