

.wrapper {
  width: 100%;
  @include ltr-rtl("padding-left", var(--cui-sidebar-occupy-start, 0));
  will-change: auto;
  @include transition(padding .15s);
}

.formWraper{
  border: 1px solid #ccc;
}
.formWraper .form-outline{
  border-bottom: 1px solid #ccc;


}
.formWraper .form-outline .formWrpLabel{
background: #e3e0e0;
display: flex;
    align-items: center;
border-left: 1px solid #ccc;
padding: 20px;
    min-width: 250px;
}
 .formWraper .form-outline label{
padding-right: 10px;
   }
.formWraper .form-outline .formWrpInpt{
  padding: 20px;
  flex: 1;
}
// .formWraper .form-outline input{
//   height: 50px;
// }
.logHead{
  font-size: 1.6em;
}
.drpBtn{
min-width: 100px;

}

.drpBtn button{
  text-align: left;
  border: 1px solid #ccc;
}
.drpBtn button::after{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 5px;
}
.drpDBtn{
min-width: 150px;

}
.drpDBtn button{
  text-align: left;
  border: 1px solid #ccc;
}
.drpDBtn button::after{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 5px;
}
.ptk-table th {
background: ($primary);
color: ($white);
    white-space: nowrap;
    padding: 10px;
    font-family: ($fontrg);
}
.ptk-table {
  width: 100%;
}
.ptk-table td {
    padding: 10px;
    font-size: 14px;
    white-space: nowrap;
    position: relative;
}
.ptk-table tbody tr{
  border-bottom: 1px solid #ccc !important;
}
.ptk-table td span.sortarrow{
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}
@media(max-width:768px){
  .formWraper .form-outline {
    flex-direction: column;
}
.formWraper .form-outline .formWrpLabel{

border-left:none;
}
}
.dropDownbackground{
  background-color: white;
}
.userlist-pagination ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin-top: 15px;
}

.userlist-pagination ul li.selected a,
.userlist-pagination ul li a:hover, .userlist-pagination ul li a:hover button {
  background: ($primary);
  color:($white) !important;
  border-color: ($primary);
}

.userlist-pagination ul li a {
  font-size: 13px;
  padding: 6px 12px;
  min-width: 30px;
  border: 1px solid #999;
  margin-right: 5px;
  min-height: 30px;
  display: inline-block;
}

.userlist-pagination ul li a button {
  font-size: 13px;
  border: none;
  background: none;
}

.userlist-pagination ul li:last-child a {
  margin-right: 0;
}

.disable-class {
  pointer-events: none;
  opacity: 0.5;
}

.btn-primary,.btn-primary:hover,.btn.btn-primary:disabled,.btn-primary:active{
  color: ($white);
}

.bg-light{
  background: ($lightGray);
}
.btn-light{
  background: ($lightGray);
  color: ($gray);
}
.filterbtn{
border-radius: 0;
}