
.modal-content{
  border-radius: 0 !important;
  .modal-header{
    background-color: ($white);
      position: relative;
      padding-right: 35px;
    .modal-title{
      color: ($primary); 
    }
    .btn-close{
      position: absolute;
      top: 0;
      right: 5px;
      margin: 0 !important;
      
      background: none !important;
      opacity: 1;
      &::after{
        content:'\e917';
        font-family: 'icomoon';
        color:($primary);
      }
      &:focus{
        border: none;
        box-shadow: none;
      }
    }
  }
}