$primary: #ea5242;
$lightPrimary: #FD887B;
$black: #080808;
$white: #fff;
$gray : #828282;
$darkGray: #666666;
$lightGray:#f6f6f6;
$gray2:#D9D9D9;
$gray5:#b5b5b5;
$primGray:#e9e9e9;
$green:#20BA09;
$blue:#0381FE;
$Gray:"#e9e9e9";
$lightPrimary:'#ffe1dd';
$fontrg:'robotoregular';
$fontmd:'roboto_mediumregular';
$fontbd:'robotobold';

