$primary: #ea5242;
$black: #080808;
$white: #fff;
$gray : #828282;
$darkGray: #666666;
$lightGray:#f6f6f6;
$green:#20BA09;
$fontrg:'robotoregular';
$fontmd:'roboto_mediumregular';
$fontbd:'robotobold';

